.content-container {
	max-width: $max-container;
	margin: 0 auto;
}

.hero {
	position: relative;
	width: 100%;
	#hero-background {
		min-height: 70vh;

	}
}
.hero-cta {
	position: absolute;
	top:0; bottom: 0; right: 0; left: 0;
	margin: auto;
	width: 200px;
	height: 50px;
}

.box {
	background: grey;
	width: 29%;
	height: 200px;
	display: inline-block;
}
.testimonial {
	display: inline-block;
	width: 58%
}
.calendar {
	float: right;
	width: 40%;
}
.main-text-area {
	clear: both;
}