.site-header {
	margin: 0 auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	background-color: $blue;
}

.header-container {
	max-width: $max-container;
	margin: 0 auto;
}

.logo {
	width: 20%;
	float: left;
}