
.site-main {
	// @include breakpoint ('tablet'){
	// 	margin: 0 $size__site-sidebar 0 0;
	// }
}
//Right sidebar
.main-content {
	width: $size__site-main;
	background-color: rgba(97, 116, 143, 0.8);
	padding: 1em 2em;
	@include breakpoint ('tablet'){
		float: left;
		width: 73%;
		min-height: 800px;
	}
}

.site-content .widget-area {
	width: 100%;
	background-color: rgba(97, 116, 143, 0.8);
	display: none;
	@include breakpoint ('tablet'){
		display: block;
		float: right;
		overflow: hidden;
		width: $size__site-sidebar;
	}
}

.site-footer {
	clear: both;
	width: $size__site-main;
}


// Left sidebar
// .content-area {
// 	float: right;
// 	margin: 0 0 0 (-$size__site-sidebar);
// 	width: $size__site-main;
// }

// .site-main {
// 	margin: 0 0 0 $size__site-sidebar;
// }

// .site-content .widget-area {
// 	float: left;
// 	overflow: hidden;
// 	width: $size__site-sidebar;
// }

// .site-footer {
// 	clear: both;
// 	width: $size__site-main;
// }